img {
width: 80px;
}

 span{
    font-family: 'Xanh Mono', monospace;   
 }

 nav {
     background-color: var(--main-color);
     font-size: 16px;
     box-shadow: var(--shadow);
 }

 .collapse ul li a {
     color: rgb(170, 170, 170);
 }

 .list-unstyled li a {
    text-decoration: none;
 }

 .list-unstyled .button  {
     color: rgb(71, 153, 235) !important;
     border: 1px solid rgb(71, 153, 235);
     border-radius: 5px;
}

.list-unstyled .button  a {
    color: rgb(71, 153, 235) !important;
}