<div class="container py-4">
  <div class="row bg-sec">
    <div class="col-md-6 ps-0">
      <img src="../../../assets/Images/gaming.ebaf2ffc84f4451d.jpg" class="w-100 h-100" alt="">
    </div>
    <div class="col-md-6  p-lg-5">
      <div class="text-center">
        <img src="../../../assets/Images/logo.png" class="logo  text-center" alt="">
        <h3 class="text-main fw-semibold my-3">Log in to GameOver</h3>
      </div>

      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="my-3">
          <input type="email" placeholder="Email Address" class="form-control py-2" formControlName="email">
          <div *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.status == 'INVALID'"
            class="alert alert-warning bg-white p-0">
            <p *ngIf="loginForm.get('email')?.getError('required')">Email is required</p>
            <p *ngIf="loginForm.get('email')?.getError('email')">Enter Vaild Email</p>
          </div>
        </div>
        <div class="my-3">
          <input type="password" placeholder="Password" class="form-control py-2" formControlName="password">
          <div *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.status == 'INVALID'"
            class="alert alert-danger bg-white p-0">
            <p *ngIf="loginForm.get('password')?.getError('required')">password is required</p>
            <p *ngIf="loginForm.get('password')?.getError('pattern')" class="w-100">
              The password's first character must be a letter, it must contain at least 4 characters and no more than 15
              characters and no characters other than letters, numbers and the underscore may be used</p>
          </div>

        </div>


        <button type="submit" class="btn bg-main w-100 text-white p-2 border-1 border-dark">
          <span class="txt">Login</span>
          <i class="fa fa-spinner fa-spin hide loading-icon"></i></button>
      </form>
      <hr class="text-main">
      <a href="" (click)="alert()">Forgot Password?</a>
      <p class="text-main my-2">Not a member yet?<span class="mx-2"><a routerLink="/JoinFree" routerLinkActice="active"
            id="#/JoinFree">Create Account></a></span></p>
    </div>
  </div>
</div>
